body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;

    height: 100vh;
    width: 100vw;
}

header, main, footer {
    border: 1px solid black;
    padding: 10px;
}

header {
    background-image: linear-gradient(to right, #007592, #68e0ff);
    display: flex;
    grid-column: 1 / 4;
    justify-content: space-between;
}

main {
    border-style: solid;
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    margin-left: 16%;
    margin-right: 16%;
    display: flex;
    align-items: center;
    justify-content: left;
}


footer {
    background-color: #008fb3;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex: 3 1 300px;
    margin-left: 16%;
    margin-right: 16%;
}

.form-group {
    margin: 10px;
    padding: 10px;
}

.form-input {
    min-height: 25px;
    float: left;
}

.form-wrapper {
    font-size: 22px;
    height: 100%;
    width: 100%;
}

.form-label {
    clear: left;
    float: left;
    margin-right: 50px;
    text-align: left;
    padding-right: 10px;
    width: 180px;
}

.form-footer {
    margin-top: 50px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}

.btn.form {
    height: 25px;
    width: 100px;
}

#role{
    visibility: hidden;
}