<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Train carriages</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Train carriage Id</th>
        <th>Type</th>
        <th>Train</th>
        <th>Total seats</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trainCarriage : ${trainCarriagePage}">
        <td th:text="${trainCarriage.id}"/>
        <td th:text="${trainCarriage.trainCarriageType}"/>
        <td th:text="${trainCarriage.totalSeats}"/>
        <td> <a th:href="@{'/train-carriages/' + ${trainCarriage.id}}">Click here for more information about available seats</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${trainCarriagePage.totalPages > 0}" class="pagination"
     th:each="pageNumber :${pageNumbers}">
    <a th:href="@{/train-carriages(page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==trainCarriagePage.number + 1} ? active"></a>
</div>
</body>
</html>