<!DOCTYPE html>
<html
        lang="en"
        xmlns:="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org"
>
<head>
    <style>
        .error {
            color: red;
        }
    </style>
    <title>Register user</title>
</head>
<body>
<header></header>
<aside></aside>
<main>

    <div th:if="${param.fail}" class="alert alert-success">
        Username or email already exists
    </div>
    <div class="login-form">
        <form method="post" role="form" th:action="@{/user/register}" th:object="${user}">
            <div class="form-group">
                <label>Email</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        th:field="*{email}"/>
                <p th:if="${#fields.hasErrors('email')}"
                   th:class="${#fields.hasErrors('email')}? error">Invalid email</p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        th:field="*{password}"/>
                <p th:if="${#fields.hasErrors('password')}"
                   th:class="${#fields.hasErrors('password')}? error">Invalid password, min length is 3</p>
            </div>
            <div class="form-group">
                <label>First name</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Your first name"
                        th:field="*{firstName}"/>
                <p th:if="${#fields.hasErrors('firstName')}"
                   th:class="${#fields.hasErrors('firstName')}? error">First name can't be blank</p>
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Your last name"
                        th:field="*{lastName}"/>
                <p th:if="${#fields.hasErrors('lastName')}"
                   th:class="${#fields.hasErrors('lastName')}? error">Last name can't be blank</p>
            </div>
            <div class="form-group">
                <label>Age</label>
                <input
                        type="number"
                        class="form-control"
                        placeholder="Your age"
                        th:field="*{age}"/>
                <p th:if="${#fields.hasErrors('age')}"
                   th:class="${#fields.hasErrors('age')}? error">Age must be between 5 and 110</p>
            </div>
            <div class="form-group">
                <label>Have children</label>
                <input
                        type="checkbox"
                        class="form-control"
                        th:field="*{married}"/>
            </div>
            <div class="form-group">
                <label>Child birth year</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="yyyy-m-dd"
                        th:field="*{childBirthYear}">
                <p th:if="${#fields.hasErrors('childBirthYear')}"
                   th:class="${#fields.hasErrors('childBirthYear')}? error">Date must be in the format yyyy-m-dd</p>
            </div>
            <button th:formmethod="get" th:formaction="@{/user/login}" type="submit" class="btn btn-black">Login
                here.
            </button>
            <button th:href="@{/register}" type="submit" class="btn btn-secondary">Register</button>
        </form>
    </div>
</main>
<aside></aside>
<footer></footer>
</body>
<section>
</section>
</html>