<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"

>
<head>
    <link th:href="@{~/css/user/user_details.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>
<div class=container>
    <header>
        <div class="col-3 left"></div>
        <div class="col-6 center">Ticket portal</div>
        <div class="col-3 right"></div>
    </header>
    <main>
        <div class="form-wrapper">
            <h3>User details</h3>
            <form method="post" role="form" th:action="@{/user/profile}" th:object="${user}">
                <div class="form-group">
                    <input
                            class="form-input"
                            type="hidden"
                            th:placeholder="*{id}"
                            th:field="*{id}">
                </div>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input
                            type="text"
                            class="form-input"
                            th:placeholder="*{email}"
                            th:field="*{email}">
                </div>
                <div class="form-group">
                    <label class="form-label">First name</label>
                    <input
                            type="text"
                            class="form-input"
                            th:placeholder="*{firstName}"
                            th:field="*{firstName}">
                </div>
                <div class="form-group">
                    <label class="form-label">Last name</label>
                    <input
                            type="text"
                            class="form-input"
                            th:placeholder="*{lastName}"
                            th:field="*{lastName}">
                </div>
                <div class="form-group">
                    <label class="form-label">Age</label>
                    <input
                            type="text"
                            class="form-input"
                            th:placeholder="*{age}"
                            th:field="*{age}">
                </div>
                <div class="form-group">
                    <label class="form-label">Married</label>
                    <input
                            type="checkbox"
                            class="form-input"
                            th:checked="*{married}"
                            th:field="*{married}">
                </div>
                <div class="form-group">
                    <label class="form-label">Birth date of child</label>
                    <input
                            type="text"
                            class="form-input"
                            th:placeholder="*{childBirthYear}"
                            th:field="*{childBirthYear}">
                </div>
                <div class="form-group"
                     th:if="${#authorization.expression('hasRole(''ADMINISTRATOR'')')}">
                    <label class="form-label">Role</label>
                    <select name="role">
                        <option th:each="roleOpt : ${T(bg.tusofia.vvps.ticketsystem.user.Role).values()}"
                                th:value="${roleOpt}" th:text="${roleOpt}"></option>
                    </select>
                </div>
                <div class="form-group" id="role"
                     th:if="${#authorization.expression('hasRole(''CLIENT'')')}">
                    <label class="form-label">Role</label>
                    <select name="role" >
                        <option th:each="roleOpt : ${T(bg.tusofia.vvps.ticketsystem.user.Role).values()}"
                                th:value="${roleOpt}" th:text="${roleOpt}"></option>
                    </select>
                </div>
                <div class="form-footer">
                <button type="submit" class="btn form">Save</button>
                <button th:formmethod="post" th:formaction="@{/user/logout}" type="submit" class="btn form">
                    Logout
                </button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="col-1">About us</div>
            <div class="col-1">Privacy notice</div>
            <div class="col-1">Contacts</div>
        </div>
    </footer>
</div>
</body>
</html>


