<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload route</title>
</head>
<body>
<div class="login-form">
    <form method="post" role="form" th:action="@{/route}" th:object="${route}">
        <div class="form-group">
            <label>Train stations</label>
            <input
                    type="text"
                    class="form-control"
                    placeholder="train stops"
                    th:field="*{route.trainStations()}">
        </div>
        <p th:if="${#fields.hasErrors('route.trainStations')}" class="text-danger"></p>
        <div class="form-group">
            <label>Trains</label>
            <input
                    type="text"
                    class="form-control"
                    placeholder="trains"
                    th:field="*{route.trains()}">
        </div>
        <p th:if="${#fields.hasErrors('route.trains()')}" class="text-danger"></p>
        <button th:href="@{/route}" type="submit" class="btn btn-secondary">Submit changes</button>
    </form>
</body>
</html>