<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
</head>
<body>
<table border="=1">
    <thead>
    <tr>
        <th>Route Id</th>
        <th>Departure station</th>
        <th>Arrival station</th>
        <th>Departing at | Arriving at</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="route: ${routePage.content}">
        <td th:text="${route.id}"/>
        <td th:if="${route.trainStations.size() != 0}"
            th:text="${route.trainStations[0].name}"/>
        <td th:if="${route.trainStations.size() != 0}"
            th:with="numTrainStops=${route.trainStations.size()}"
            th:text="${route.trainStations[numTrainStops - 1].name}"/>
        <td>
            <div th:each="train : ${route.trains}">
                <span th:text="${train.departingAt}"/> |
                <span th:text="${train.arrivingAt}"/> |
                <a th:href="@{'/train/' + ${train.id}}">Train details</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${routePage.totalPages > 0}" class="pagination"
     th:each="pageNumber :${pageNumbers}">
    <a th:href="@{/routes(page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==routePage.number + 1} ? active"></a>
</div>
</body>
</html>