<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train details</title>
</head>
<body>
<h1>Data for train with id : <span th:text="${train.id}"></span>
</h1>
<table>
    <thead>
    <tr>
        <th>Train carriage</th>
        <th>Departing at</th>
        <th>Arriving at</th>
        <th>Route</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td>
            <a th:each="trainCarriage : ${train.formedByTrainCarriages}">
                <a th:href="@{'/train-carriage/' + ${trainCarriage.id}}">Click here for more information about the train carriage</a>
            </a>
        </td>
        <td th:text="${train.departingAt}"/>
        <td th:text="${train.arrivingAt}"/>
        <td th:text="${train.route}"/>
    </tr>
    </tbody>
</table>
</body>
</html>