<!DOCTYPE html>
<html lang="en">
<head
        xmlns:th="http://thymeleaf.org"
>
  <meta charset="UTF-8">
  <title>Add train</title>
</head>
<body>
<header></header>
<main>
  <div th:if="${param.fail}" class="alert alert-success">
    Error
  </div>
  <div class="train-create-form">
    <form method="post" role="form" th:action="@{/train}" th:object="${train}">
      <div class="form-group">
        <label>Enter the train carriages' ids that form the train </label>
        <input
                type="number"
                class="form-control"
                placeholder="Train carriages' ids"
                th:field="*{trainCarriagesId}">
      </div>
      <p th:if="${#fields.hasErrors('trainCarriagesId')}" class="text-danger"></p>
      <div class="form-group">
        <label>Enter the departure time</label>
        <input
                type="text"
                class="form-control"
                placeholder="yyyy:m:ddThh:mm:ss"
                th:field="*{departingAt}">
      </div>
      <p th:if="${#fields.hasErrors('departingAt')}" class="text-danger"></p>
      <div class="form-group">
        <label>Enter the arrival time</label>
        <input
                type="text"
                class="form-control"
                placeholder="yyyy:m:ddThh:mm:ss"
                th:field="*{arrivingAt}">
      </div>
      <p th:if="${#fields.hasErrors('arrivingAt')}" class="text-danger"></p>
      <div class="form-group">
        <label>Enter the route id</label>
        <input
                type="number"
                class="form-control"
                placeholder="route id"
                th:field="*{routeId}">
      </div>
      <p th:if="${#fields.hasErrors('routeId')}" class="text-danger"></p>
      <button th:formmethod="get" th:formaction="@{/train-carriages}" type="submit" class="btn btn-black">See available train carriages</button>
      <button th:formmethod="get" th:formaction="@{/trains}" type="submit" class="btn btn-black">See available routes</button>
      <button th:href="@{/train}" type="submit" class="btn btn-secondary">Save train</button>
    </form>
  </div>
</main>
<aside></aside>
<footer></footer>

</body>
</html>