<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Train id</th>
        <th>Train carriage Id</th>
        <th>Train carriage type</th>
        <th>Total seats</th>
        <th>Departing at</th>
        <th>Arriving at</th>
        <th>Route</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="train : ${trains}">
        <td th:text="${train.id}"/>
        <td>
            <div th:each="trainCarriage : ${train.formedByTrainCarriages}">
                <span th:text="${trainCarriage.id}"></span>
                <span th:text="${trainCarriage.trainCarriageType}"/>
                <span th:text="${trainCarriage.totalSeats}"/>
            </div>
        </td>
        <td th:text="${train.departingAt}"/>
        <td th:text="${train.arrivingAt}"/>
        <td><a th:href="@{'/routes/' + ${train.route.id}}" th:if="${train.route != null}">Click here for more
            information
            about the route</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>