<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Trains</title>
</head>
<body>
<h3>Note: if the train doesn't have a link to a route it isn't assigned one</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Train carriage Id</th>
        <th>Train carriage type</th>
        <th>Total seats</th>
        <th>Departing at</th>
        <th>Arriving at</th>
        <th>Route</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="train : ${trainPage}">
        <td th:text="${train.id}"/>
        <td>
            <div th:each="trainCarriage : ${train.formedByTrainCarriages}">
                <span th:text="${trainCarriage.id}"></span>
                <span th:text="${trainCarriage.trainCarriageType}"/>
                <span th:text="${trainCarriage.totalSeats}"/>
            </div>
        </td>
        <td th:text="${train.departingAt}"/>
        <td th:text="${train.arrivingAt}"/>
        <td><a th:href="@{'/route/' + ${train.route.id}}" th:if="${train.route != null}">Click here for more
            information
            about the route</a></td>
    </tr>
    </tbody>
</table>
<div th:if="${trainPage.totalPages > 0}" class="pagination"
     th:each="pageNumber :${pageNumbers}">
    <a th:href="@{/trains(page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==trainPage.number + 1} ? active"></a>
</div>
</body>
</html>